html,
body {
  align-items: center;
  margin: 0;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.app {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(29, 29, 29);
  display: flex;
  justify-content: center;
}

/* Waiting room */

.waiting-room-container {
  background-color: whitesmoke;
  display: grid;
  grid-template-areas:
    "countdown countdown"
    "info players";
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 1fr;
  /* Equal widths for info and players */
  width: 90%;
  height: 90%;
  gap: 10px;
  /* Optional gap between grid items */
  z-index: 15;
}

.countdown-container {
  grid-area: countdown;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  color: black;
  font-size: xx-large;
  border: 3px rgb(187, 0, 255) solid;
}

.join-container {
  grid-area: players;
  color: black;
  font-size: x-large;
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  border: 3px rgb(255, 145, 0) solid;
  position: relative;
  z-index: 16;
}

.game-info-container {
  grid-area: info;
  border: 3px #2196f3 solid;
  display: grid;
  grid-template-areas:
    "title title"
    "controls extras";
  grid-template-rows: 100px 1fr 10px;
  grid-template-columns: 49% 49%;
  grid-gap: 5px;
  justify-content: center;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 90%;
  height: 90%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #777777;
  overflow: hidden;
}

.game-updates-container {
  font-family: "Arial", sans-serif;
  color: lightgray;
  font-size: larger;
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  border: 3px green solid;
}

.game-container {
  width: 70%;
  height: 100%;
  border: 3px red solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-wrapper {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, auto);
  width: auto;
  height: auto;
  margin: 0;
  object-fit: contain;
  position: relative;
}

.food {
  z-index: 3;
}

.food-image {
  width: 100%;
  height: 100%;
}

.hard-wall,
.grass-patch,
.loading-1,
.loading-2,
.loading-3,
.loading-4 {
  z-index: 2;
  width: 50px;
  height: 50px;
}

.snake-1,
.snake-2,
.snake-3,
.snake-4 {
  z-index: 4;
  position: absolute;
  will-change: transform;
  transition: transform 0.2s ease;
}

.snake-1.snake-head {
  background-color: rgba(0, 128, 0);
}
.snake-1.snake-body {
  background-color: rgba(0, 128, 0, 0.6);
}
.snake-2.snake-head {
  background-color: rgba(0, 0, 255);
}
.snake-2.snake-body {
  background-color: rgba(0, 0, 255, 0.6);
}
.snake-3.snake-head {
  background-color: rgba(255, 0, 0);
}
.snake-3.snake-body {
  background-color: rgba(255, 0, 0, 0.6);
}
.snake-4.snake-head {
  background-color: rgba(255, 255, 0);
}
.snake-4.snake-body {
  background-color: rgba(255, 255, 0, 0.6);
}

.main-app {
  width: 100%;
  height: 100%;
  background: #ffffff3a;
  z-index: 10;
}

.join-container > .screen {
  display: none;
  position: absolute;
  z-index: 17;
  background-color: whitesmoke;
}

.join-container > .screen.active {
  display: block;
  width: 100%;
  height: 100%;
}

#start-game-button {
  grid-area: start-button;
}

.players-waiting-container {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: auto;
  display: grid;
  grid-template-areas:
    "start-button"
    "player-1-card"
    "player-2-card"
    "player-3-card"
    "player-4-card";
  grid-template-rows: 30px 1fr 1fr 1fr 1fr 5px;
  grid-gap: 10px;
  justify-content: center;
  grid-template-columns: 95%;
  grid-gap: 10px;
  overflow: hidden;
}

.player-card {
  z-index: 16;
  border: 1px solid green;
  justify-content: center;
  overflow: hidden;
}

.congratulations-container {
  z-index: 20;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateX(250px);
}

.congratulations-container-main {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 30px;
  border: 1px solid #000000;
  border-radius: 3px;
}

.congratulations-container.hidden {
  display: none;
}

.pause-menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

.congratulations-container h1,
.congratulations-container p {
  text-align: center;
}

.button-menu-container {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}

.resume-button,
.quit-button {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.resume-button:hover,
.quit-button:hover {
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

.game-updates-container .timer {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: #ff4500;
  margin-bottom: 10px;
}

.disabled-button {
  background-color: #d3d3d3;
  color: #808080;
  border: 1px solid #a9a9a9;
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.6;
  display: none;
}

.hidden {
  display: none;
}

.scoreboard-title {
  font-size: 1.2em;
  margin-top: 20px;
  margin-bottom: 10px;
}

.scoreboard-list {
  list-style-type: none;
  padding: 0;
}

.scoreboard-list li {
  font-size: 1em;
  padding: 5px 0;
  border-bottom: 1px solid #ccc;
}

.end-container {
  position: absolute;
  width: 50%;
  height: 50%;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 20px;
  z-index: 21;
}

.server-disconnect-error-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  background-color: rgba(255, 0, 0, 0.8);
  color: white;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  z-index: 999;
}